@model PagedList.IPagedList<CarRental.Models.Order>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    <div class="form-inline">
            @Html.Label(ResOrders.Orders_Index.FindByNumber, new {@for= "inputSearch", @class= "control-label" })
            @Html.TextBox("SearchString", null, new { @class = "form-control input-sm", @id="inputSearch", @placeholder=ResOrders.Orders_Index.Search})
            <input type="submit" value='@ResOrders.Orders_Index.SearchBut' class="btn btn-default btn-sm">
    </div>
}

<br />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@ResOrders.Orders_Index.Number</th>
                    <th>@ResOrders.Orders_Index.FirstName</th>
                    <th>@ResOrders.Orders_Index.LastName</th>
                    <th>@ResOrders.Orders_Index.Mail</th>
                    <th>@ResOrders.Orders_Index.Phone</th>
                    <th>@ResOrders.Orders_Index.Brand</th>
                    <th>@ResOrders.Orders_Index.Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.ApplicationNumber)</td>
                        <td>@Html.DisplayFor(m => item.FirstName)</td>
                        <td>@Html.DisplayFor(m => item.LastName)</td>
                        <td>@Html.DisplayFor(m => item.Email)</td>
                        <td>@Html.DisplayFor(m => item.Phone)</td>
                        <td>@Html.DisplayFor(m => item.Car.Brand)</td>
                        <td>@Html.DisplayFor(m => item.Car.Model)</td>
                        <td>
                            @Html.ActionLink(ResOrders.Orders_Index.Edit, "Edit", new { id = item.Id }) |
                            @Html.ActionLink(ResOrders.Orders_Index.Delete, "Delete", new { id = item.Id }) |
                            @Html.ActionLink(ResOrders.Orders_Index.Confirm, "Confirm", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
