@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ResAdministration.Administration_Create.CreateRole</h2>
@Html.ActionLink(ResAdministration.Administration_Create.Back, "Index") | @Html.ActionLink(ResAdministration.Administration_Create.Manage, "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        @ResAdministration.Administration_Create.RoleName
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}

<h2>@ResAdministration.Administration_Create.ListOfRoles</h2>
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Administration/Delete?RoleName=@role.Name" class="delLink" style="color:red;">@ResAdministration.Administration_Create.Delete</a></span> |
            @Html.ActionLink(ResAdministration.Administration_Create.Edit, "Edit", new { roleName = @role.Name })
        </p>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}