
@{
    ViewBag.Title = "ManageUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ResAdministration.Administration_ManageUserRoles.ManageUserRoles</h2>
@Html.ActionLink(ResAdministration.Administration_ManageUserRoles.Back, "Index") | @Html.ActionLink(ResAdministration.Administration_ManageUserRoles.Create, "Create")
<hr />

<h2>@ResAdministration.Administration_ManageUserRoles.RoleAddToUser</h2>

@using (Html.BeginForm("RoleAddToUser", "Administration"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        @ResAdministration.Administration_ManageUserRoles.UserName : @Html.TextBox("UserName")
        @ResAdministration.Administration_ManageUserRoles.RoleName : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, ResAdministration.Administration_ManageUserRoles.SelectMsg)
    </p>
    <input type="submit" value='@ResAdministration.Administration_ManageUserRoles.Save' />
}
<hr />
<h3>@ResAdministration.Administration_ManageUserRoles.GetRolesForUser</h3>
@using (Html.BeginForm("GetRoles", "Administration"))
{
    @Html.AntiForgeryToken()
    <p>
        @ResAdministration.Administration_ManageUserRoles.UserName : @Html.TextBox("UserName")
        <input type="submit" value='@ResAdministration.Administration_ManageUserRoles.GetRolesForThisUser' />
    </p>
}

@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:yellow;">
        <h3>@ResAdministration.Administration_ManageUserRoles.RolesForThisUser</h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>@ResAdministration.Administration_ManageUserRoles.DeleteUserFromRole</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Administration"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        @ResAdministration.Administration_ManageUserRoles.UserName : @Html.TextBox("UserName")
        @ResAdministration.Administration_ManageUserRoles.RoleName : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>

    <input type="submit" value='@ResAdministration.Administration_ManageUserRoles.DeleteThisUserFromRole' />
}