

@{
    ViewBag.Title = "Home Page";
}
<br />
<!-- Search form & Slider -->
<div class="row">
    <!-- Search form -->
    <div class="col-md-5">
        <div class="well bs-component searchform">
@using(Html.BeginForm("Search", "Home", new { nameWhereParam = "Search" }, FormMethod.Get, new { @class = "form-horizontal" }))
{
                        @Html.ValidationSummary(true)
                 <fieldset>
                    <legend> @Resources.Index.BookNow</legend>
                        <div class="form-group">
                            <label for="inputPickupLocation" class="col-lg-4 control-label">@Resources.Index.PickupLocation</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="inputPickupLocation" name="inputPickupLocation" placeholder='@Resources.Index.PickupLocation'>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkboxDifferentLocation" name="checkboxDifferentLocation"> @Resources.Index.DifferentLocation
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group hidden" id="formReturnLocation">
                            <label for="inputReturnLocation" class="col-lg-4 control-label">@Resources.Index.ReturnLocation</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="inputReturnLocation" name="inputReturnLocation" placeholder='@Resources.Index.ReturnLocation'>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputPickupDate" class="col-lg-4 control-label">@Resources.Index.PickupDate</label>
                            <div class='col-lg-8'>
                                <input type='text' class="form-control" id='inputPickupDate' name="inputPickupDate" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputReturnDate" class="col-lg-4 control-label">@Resources.Index.ReturnDate</label>
                            <div class='col-lg-8'>
                                <input type='text' class="form-control" id='inputReturnDate' name="inputReturnDate" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary pull-right" value="Search">@Resources.Index.Search</button>
                            </div>
                        </div>
                       
                </fieldset>
}
        </div>
    </div>

    <!--Slider-->
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide active" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/Images/Home/slide-1.jpg" alt="test1">
                    <div class="carousel-caption">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Home/slide-2.jpg" alt="test2">
                    <div class="carousel-caption">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/Images/Home/slide-3.jpg" alt="test3">
                    <div class="carousel-caption">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>

            </div>
        </div>
        </div>

</div>

<br/>
<div class="row">
     <div class="news">
                    <h3>GIFT</h3>
                    <h4>CERTIFICATES</h4>
                    <p>
                        LOREM IPSUM DOLOR SIT AMET CONSE CTETUR
                        ADIPISICING ELIT, SED DO EIUSMOD TEMPOR
                        INCIDIDUNT UT LABORE ET DOLORE
                        MAGNA ALIQUA. UT ENIM AD MINIM
                        VENIAM, QUIS NOSTRUD
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
     <div class="news">
                    <h3>SPECIAL</h3>
                    <h4>OFFERS  & PACKAGES</h4>
                    <p> LOREM IPSUM DOLOR SIT AMET CONSE CTETUR
                        ADIPISICING ELIT, SED DO EIUSMOD TEMPOR
                        INCIDIDUNT UT LABORE ET DOLORE
                        MAGNA ALIQUA. UT ENIM AD MINIM
                        VENIAM, QUIS NOSTRUD</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>

</div>

@section scripts {
    <script type="text/javascript">

        $(function () {
            $('#inputPickupDate').datetimepicker({
                        minDate: moment()
                    });
            $('#inputReturnDate').datetimepicker({
                minDate: moment()
            });
            $("#inputPickupDate").on("dp.change", function (e) {
                $('#inputReturnDate').data("DateTimePicker").minDate(e.date);
            });
            $("#inputReturnDate").on("dp.change", function (e) {
                $('#inputPickupDate').data("DateTimePicker").maxDate(e.date);
            });
        });

        $("#checkboxDifferentLocation").change(function () {
            if(this.checked) { 
                $('#formReturnLocation').removeClass('hidden');
            } else {
                $('#formReturnLocation').addClass('hidden');
            }
        });
    </script>
}