@using CarRental.HtmlHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/kendo/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Car rental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(controller: "Home", action: "Index")">@Html.ActionLink(Resources.Layout.Home, "Index", "Home")</li>
                    <li class="@Html.IsSelected(controller: "Cars", action: "Index")">@Html.ActionLink(Resources.Layout.Cars, "Index", "Cars")</li>
                    <li class="@Html.IsSelected(action: "Contact")">@Html.ActionLink(Resources.Layout.Contact, "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("CarFleet"))
                        {
                            <li class="@Html.IsSelected(controller: "Orders", action: "Index")">@Html.ActionLink(Resources.Layout.Orders, "Index", "Orders")</li>
                        }
                        if (User.IsInRole("Admin") || User.IsInRole("ServiceCenter"))
                        { 
                            <li class="@Html.IsSelected(controller: "Diagnostics", action: "Index")"> @Html.ActionLink(Resources.Layout.Diagnostics, "Index", "Diagnostics")</li>        
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown @Html.IsSelected(controller: "Administration", action: "Index")">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resources.Layout.Administration <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink(Resources.Layout.ManagingRolesUsers, "Index", "Administration")</li>
                                    <li>@Html.ActionLink(Resources.Layout.ManagingCars, "ListOfCars", "Administration")</li>
                                    <li><a href="#">@Resources.Layout.ManagingNews</a></li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <br/>
            <div>
                 &copy; @DateTime.Now.Year - Car rental
            </div>

            <address>
                <strong>Twitter, Inc.</strong><br>
                Wellington<br>
                <abbr title='@Resources.Layout.Phone'>P:</abbr> (123) 456-7890
            </address>

            <address>
                <strong>@Resources.Layout.IgorRashyn</strong><br>
                <a href="mailto:igor.rashyn@gmail.com">igor.rashyn@gmail.com</a>
            </address>
        </footer>
    </div>

   @* @Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
   @* @Scripts.Render("~/bundles/kendo")*@
    @RenderSection("scripts", required: false)
</body>
</html>
