@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(Resources.Layout.Hello+ " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Layout.LogOff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Layout.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
       @* <li>@Html.ActionLink(Resources.Layout.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}

<div class="nav navbar-nav navbar-right" style="padding-top: 20px; color: #93c54b;" >
    <p style="font-size: 11px; display: block;">@Html.ActionLink(Resources.Layout.en, "ChangeCulture", "Home", routeValues: new { lang = "en" }, htmlAttributes: null @*new {style="color: #98978b;" }*@) | @Html.ActionLink(Resources.Layout.ru, "ChangeCulture", "Home", routeValues: new { lang = "ru" }, htmlAttributes: null)</p>
</div>
